*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
 grid-template-columns: 200px 1fr;
 height: 100%;

}

header {
    background-color: rgb(2, 75, 57);
   padding: 15px 0;
   text-align: center;
   color: white;
 
}

main {
background-color: rgb(159, 214, 205);
display: grid;
grid-template-columns: 150px 1fr;
height: 900px;


}
aside {
    background-color: rgb(1, 56, 44);
    color: white;
}

aside ul {
    display: flex;
    flex-direction: column;
    
}


aside ul li{
   list-style-type: none;
   padding: 30px 0 30px 25px;
    
}


section {

    padding: 60px;
    
}

p{
    text-align: justify;
}

section img {

    width: 100%;
       
}

footer{
    background: rgb(20, 24, 23);
    height: 30px;
    color: white;
    text-align: center;
}